name: Build and deploy ASP.Net Core app to Azure Web App - GameGatherApi

on:
  pull_request:
    types: [reopened, opened, synchronize, edited]
  workflow_dispatch:

env:
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  ARM_USE_AZUREAD: true


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ./GameGather.sln
        
      - name: Substitute appsettings.json entries
        uses: microsoft/variable-substitution@v1
        with:
          files: './src/GameGather.Api/appsettings.json'
        env:
          Email.ApiKeyPublic: ${{ secrets.EMAIL_API_KEY_PUBLIC }}
          Email.ApiKeyPrivate: ${{ secrets.EMAIL_API_KEY_PRIVATE }}
          Email.FromEmail: ${{ secrets.EMAIL_FROM_EMAIL }}
          Email.FromName: ${{ secrets.EMAIL_FROM_NAME }}

      - name: Build
        run: dotnet build ./GameGather.sln --no-restore --configuration Release

      - name: Test
        run:  dotnet test ./GameGather.sln --configuration Release --no-restore --no-build
